*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
    background-color: rgb(31, 22, 2);
    border-bottom: 1px solid #513c28;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: red;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    margin: 0 1rem;
}
.navbar .navbar-profile a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-profile #list-menu{
    display: none;
}
.navbar .navbar-nav a:hover {
    color: #ecf00e;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ecf00e;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-nav a:hover {
    color: #ecf00e;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ecf00e;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-profile a:hover {
    color: #ecf00e;
}

.navbar .navbar-profile a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ecf00e;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-profile a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-profile a:hover {
    color: #ecf00e;
}

.navbar .navbar-profile a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ecf00e;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-profile a:hover::after {
    transform: scaleX(1);
}

.ubah-warna{
    display: flex;
    top: 80px;
    right: 0;
    left: 1100px;
    position: fixed;
    z-index: 999999;
}

#input{
    border-radius: 2px;
    height: 30px;
    text-align: center;
}

.btntekan{
    border-radius: 2px;
    height: 30px;
    width: 60px;
    background-color: #f0b40e;
    cursor: pointer;
}

.isi-data{
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 70px;
    height: 100vh;
}

.foto-profile{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 150px;
    box-shadow: 1px 1px 20px #ecf00e;
    cursor: pointer;
}

.biografi.active{
    max-height: 1px;
    overflow: show;
}
.biografi a{
    color: black;
}

.biografi .biografi-nama{
    background-color: #0b4bfc;
    width: 500px;
    height: 50px;
    margin-left: 25px;
    font-size: 30px;
    padding: 5px;
    text-indent: 40px;
}

.biografi .biografi-nama span{
    position: static;
    color: yellow;
    margin-left: 200px;
    cursor: pointer;
}

.biografi .biografi-hasilnama{
    background-color: #0b4bfc;
    width: 500px;
    height: 50px;
    font-size: 30px;
    padding: 5px;
    text-indent: 40px;
    z-index: 999;
}
.biografi .biografi-education{
    background-color: #ecf00e;
    width: 500px;
    height: 50px;
    margin-left: 25px;
    margin-top: 6px;
    font-size: 30px;
    padding: 5px;
    text-indent: 40px;
}
.biografi .biografi-skill{
    background-color: #0b4bfc;
    width: 500px;
    height: 50px;
    margin-top: 6px;
    margin-left: 25px;
    font-size: 30px;
    padding: 5px;
    text-indent: 40px;
}

.biografi .biografi-minat{
    background-color: #ecf00e;
    width: 500px;
    height: 50px;
    margin-left: 25px;
    margin-top: 6px;
    font-size: 30px;
    padding: 5px;
    text-indent: 40px;
}

.foto-profile:hover{
    box-shadow: 1px 1px 20px rgb(250, 94, 4);
    transition: 0.4s linear;
}

.biografi-nama:hover{
    box-shadow: 3px 4px 3px #fff;
    transition: 0.4s linear;
}

.biografi-education:hover{
    box-shadow: 3px 4px 3px #fff;
    transition: 0.4s linear;
}

.biografi-skill:hover{
    box-shadow: 3px 4px 3px #fff;
    transition: 0.4s linear;
}

.biografi-minat:hover{
    box-shadow: 3px 4px 3px #fff;
    transition: 0.4s linear;
}

.section{
    height: 100%;
    background-color:#000;
}

.about{
    color: white;
    padding: 2rem 7% 10px;
}
.span-about{
    padding-top: 35px;
   
}
.row{
    display: block;
    padding-bottom: 25px;
}

.about-foto{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin-left: 400px;
}

.about h2, .pendidikan h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 30px;
} 

h2{
    color: #fff;
}

.about h2 span, .pendidikan h2 span {
    color: yellow;
}

.about .row .about-img {
    flex: 1 1 45rem;
}


.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    margin-top: 30px;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
    text-indent: 20px;
    text-align: justify;
}

.pendidikan{
    color: white;
}

.span-pendidikan{
    padding-top: 8px;
}
.universitas{
    color: #fff;
    padding: 4rem 7% 5rem;
}

.pendidikan p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
    text-indent: 20px;
    text-align: justify;
}

/* Responsive */

@media(max-width:405px){
    html{
        font-size: 55.5%;
    }
    .navbar .navbar-profile #list-menu{
        display: show;
    }
}

/* Mobile Phone */
@media(max-width:768px){
    html{
        font-size: 62.5%;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .navbar .navbar-profile #list-menu{
        display: inline-block;
    }


    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(10, 1, 1);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        z-index: 999;
      }
    
      .navbar .navbar-nav.active {
        right: 0;
      }
    
      .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        color: #fff;
        text-align: center;
      }
    
      .navbar .navbar-nav a::after {
        transform-origin: 2 0;
      }
    
      .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.3);
      }
      .ubah-warna{
        display: relative;
        top: 80px;
        right: 0;
        left: 80px;
        margin-bottom: 30px;
        position: absolute;
       z-index: 1;
    }

      .isi-data{
        flex-wrap: wrap;
        margin-top: 130px;
      }

      .foto-profile{
        width: 200px;
        height: 200px;
        margin-top: 15px;
      }

      .biografi{
        margin-top: 20px;
        padding: 20px;
      }

      .biografi .biografi-nama{
        width: 300px;
      }
      .biografi .biografi-education{
        width: 300px;
      }
      .biografi .biografi-skill{
        width: 300px;
      }
      .biografi .biografi-minat{
        width: 300px;
      }
      .section{
        flex-wrap: wrap;
      }
      .about-foto{
        position: relative;
        margin-left: 65px;
        margin-top: 0;
      }
      .about-foto{
        width: 200px;
        height: 200px;
        justify-content: center;
      }
      .about{
        padding: 5rem 7% 3.5rem;
       
      }

      .pendidikan{
        
        padding: 1rem;
      }

      .span-pendidikan{
        padding-top: 70px;
       
      }

      .span-pendidikan h2{
       
        padding: 1rem;
      }
}
